
<!DOCTYPE html>
<html lang="en">
  <head>
  	<title> PalboBaggins </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body background="http://www.funchap.com/wp-content/uploads/2015/08/nice-caribbean-beach-wallpaper-2015.jpg" style="background-size: cover;background-repeat:no-repeat;">
  	<div class="container">
	<div class="jumbotron text-center">
	<h3>Jotain meni pieleen :(</h3>
	<form action="/">
			<input type="submit" value="Uusi haku">
	</form>
    </div>
	</div>
  </body>		
</html>