
<!DOCTYPE html>
<html lang="en">
	 <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Kartta</h3>
	<p> paina hiirellä paikkaa josta haluat tietää sään</p>
	
    <div id="map"></div>
	
	<form action="/weatherInCoords", id="form">
		Koordinaatit:<br>
		<input type="text" name="lat" id = "lat">
		<input type="text" name="lng" id = "lng">
		<input type="submit" value="Hae sää">
	</form>
	
	
    <script>
      function initMap() {
	  
        var Tampere = {lat: 61.449360, lng: 23.85317};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: Tampere
        });
		
		map.addListener('click', function(event) {
           var coords = event.latLng;
		   var lat = coords.lat();
		   var lng = coords.lng();
		   
		   //alert( " lat: "+coords.lat()+ "long:" +coords.lng());
		   changeFormValues(lat,lng);
		   
        });
		
		
		
      }
	  
	  function changeFormValues(lat,lng){
		document.getElementById("lat").value = lat;
		document.getElementById("lng").value = lng;
		
	  }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoZzVrqqQ0q8gES2N10l4qzSZKHS3LXIw&callback=initMap">
    </script>
	<script>
	
	</script>
	
  </body>
	
	
	
	
</html>