<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
	  	// Järvien tiedot tulee yhtenä json muodossa näkyy consolista
	  	// sisältää ne mut en varma miten parsitaan vai pitäiskö
	  	// bäkkäristä suoraan lyödä 10 eri objektia
        var Tampere = {lat: 61.449360, lng: 23.85317};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: Tampere
        });
		
		map.addListener('click', function(event) {
           var coords = event.latLng;
		   var lat = coords.lat();
		   var lng = coords.lng();
		   
		   //alert( " lat: "+coords.lat()+ "long:" +coords.lng());
		   changeFormValues(lat,lng);
		   
        });
		
		
		
      }
	  
	  function changeFormValues(lat,lng){
		document.getElementById("lat").value = lat;
		document.getElementById("lng").value = lng;
		
	  }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoZzVrqqQ0q8gES2N10l4qzSZKHS3LXIw&callback=initMap">
    </script>
	<script>
	
	</script>
		<h3> <%= city %> </h3>
		<p> Lämpötila </p>
		<p> <%= temp %> </p>
		<p> <%= kunta %> </p>	
  </body>
</html>
