
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<form action="/weather">
		Syötä sijainti:<br>
		<input type="text" name="address">
		<input type="submit" value="Hae sää">
		</form>
	</body>
</html>