
<!DOCTYPE html>
<html lang="en">
  <head>
  	<title> PalboBaggins </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body background="http://www.funchap.com/wp-content/uploads/2015/08/nice-caribbean-beach-wallpaper-2015.jpg" style="background-size: cover;background-repeat:no-repeat;">
  	<div class="container">
	<div class="jumbotron text-center">
	<h3>Palvelullamme haet sinua lähimpänä olevat uimarannat ja sään</h3>
	<div id="map"></div>
	<form action="/weatherInCoords", id="form">
		Klikkaa karttaa ja paina hae:<br>
		<input type="text" name="lat" id = "lat">
		<input type="text" name="lng" id = "lng">
		<input type="submit" value="Hae sää">
	</form>
	<br>
	<h3> Tai hae osoitteella:</h3>
	<form action="/coordinates">
		<input type="text" name="address">
		<input type="submit" value="Hae sää">
	</form>
    </div>
    <script>
      function initMap() {
	  
        var Tampere = {lat: 61.449360, lng: 23.85317};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: Tampere
        });
		
		map.addListener('click', function(event) {
           var coords = event.latLng;
		   var lat = coords.lat();
		   var lng = coords.lng();
		   
		   //alert( " lat: "+coords.lat()+ "long:" +coords.lng());
		   changeFormValues(lat,lng);
		   
        });
		
		
		function loadKmlLayer(src, map) {
		  var kmlLayer = new google.maps.KmlLayer(src, {
			suppressInfoWindows: false,
			preserveViewport: true,
			map: map
		  });
		  
		 }
	  loadKmlLayer("http://dl.getdropbox.com/u/1094010/KunnatKML/Kunnat.kml",map);
	  function changeFormValues(lat,lng){
		document.getElementById("lat").value = lat;
		document.getElementById("lng").value = lng;
		
	  }
	  }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoZzVrqqQ0q8gES2N10l4qzSZKHS3LXIw&callback=initMap">
    </script>
	<script>
	
	</script>
	</div>
  </body>
	
	
	
	
</html>